//
// 
//

.button {
    --button-bgcolor: var(--clr-primary);
    display: inline-block;
    padding: var(--space-2xs) var(--space-md);
    color: var(--button-color, #fff);
    background-color: var(--button-bgcolor);
    border-radius: var(--button-radius, 0.25em);
    border: transparent;

    &:hover {
        background-color: var(--clr-accent);
    }

    &:focus {
        scale: .97;
    }
}