.card {
    position: relative;
    background: var(--card-bgcolor, var(--clr-surface));
    border-radius: var(--card-radius, 0.5em);
    transition: 250ms all ease-in-out;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .15);

    &>a {
        text-decoration: none;
    }

    &-header {

        &-image {
            position: absolute;
            width: 100%;
            height: 20rem;
            object-fit: cover;
        }

        &-text {
            position: absolute;
            top: 20px;
            left: 0;
            font-size: var(--fs-200);
            font-weight: 600;
            text-transform: uppercase;
            color: white;
            padding: 1rem 1.7rem 1rem 1rem;
            background: var(--clr-primary);
            border-radius: 0 2rem 2rem 0;
            z-index: 1;

        }
    }

    &-body {
        --flow-space: .125rem;
        margin: 22rem 2rem 1rem 2rem;

        .heading {
            color: var(--clr-text);
            font-size: var(--fs-400);
            font-weight: 400;
            line-height: 1;
            margin: 1.5rem 0 2.5rem 0;
        }

        .metadata {
            font-size: var(--fs-200);
            font-weight: 500;
            
            & span:before {
                content: '\2022';
                display: inline-block;
                font-size: 15px;
                background-color: none;
                opacity: .5;
                line-height: 4px;
                width: 4px;
                height: 4px;
                margin: 0 var(--space-2xs) 0;
                border-radius: 50%;
                -webkit-transform: translateY(-2px);
                -ms-transform: translateY(-2px);
                transform: translateY(-2px);
            }
        }
    }

    &:hover {
        scale: 1.05;
    }
}

@media(prefers-color-scheme: dark) {
    .card {
        --card-bgcolor: var(--clr-secondary);
    }
}