.post__header {
    position: relative;
    max-height: 45vmin;
    height: 45dvh;
    overflow: hidden;

    &--image {
        height: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        //overflow: hidden;
        transform: translateY(-50%);
        transition: opacity ease-in-out;
    }
}

.post-title {
    --region-space: 3.3vmax var(--space-xs);
}

.post__nav {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--space-xl);

    .left,
    .right {
        max-width: 77.5rem;
    }

    .left {
        padding-right: var(--space-3xl);
    }

    .right {
        padding-left: var(--space-3xl);
    }
}