.post__header {
    position: relative;
    max-height: 45vmin;
    height: 45dvh;
    overflow: hidden;

    &--image {
        height: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        //overflow: hidden;
        transform: translateY(-50%);
        transition: opacity ease-in-out;
    }
}

.post-title {
    --region-space: 3.3vmax var(--space-xs);
}

.post__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: var(--space-md);

    & > a {
        color: var(--clr-text);
        text-decoration: none;
    }

    @media screen and (min-width: 48em) {
        flex-direction: row;
    }

    .subtext {
        font-size: var(--fs-200);
        text-transform: uppercase;
    }

    .left,
    .right {
        max-width: 54rem;
    }

    .left {
        text-align: left;
        margin-left: 0;
        margin-right: auto;

        @media screen and (min-width: 48em) {
            padding-right: var(--space-3xl);
        }
    }

    .right {
        text-align: right;
        margin-left: auto;

        @media screen and (min-width: 48em) {
            padding-left: var(--space-3xl);
        }
    }
}