.post__header {
    position: relative;
    max-height: 45vmin;
    height: 45dvh;
    overflow: hidden;

    &--image {
        height: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        //overflow: hidden;
        transform: translateY(-50%);
        transition: opacity ease-in-out;
    }
}