{###################}
{##### LAYOUTS #####}
{###################}

{# 2 Column Image Grid #}
{% macro image_2_column(left, right, classes) %}
<section class="img-grid region {{ classes }}" data-layout="halfs">
    <img alt="" src="{{ left }}">
    <img alt="" src="{{ right }}">
</section>
{% endmacro %}