{% set hidden = showMenu == false %}
<header id="onScroll" class="navbar fixed">
    <div class="navbar__inner wrapper">
        <a href="/" class="navbar__logo">
            <img src="{{ site.logo }}" width="80px" inline/>
        </a>
        <nav class="site-nav">
            <ul class="site-nav__list" role="list">
                {% for entry in search.pages( menu.visible: "true", menu.order ) %}
                    <li class="site-nav__item">
                        <a href="{{ entry.data.url | url }}" class="site-nav__link {% if entry.data.menu.cta %}site-nav__cta {% endif %}" {% if entry.data.url==url %} aria-current="page" {% endif %}>{{ entry.data.menu.title or entry.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <lable id="hamburgerMenu" class="hamburger-menu">
            <input type="checkbox">
        </lable>
    </div>
</header>