@forward "scss/base";
@forward "scss/components";
@forward "scss/layouts";
@forward "scss/utilities";

@use "scss/abstracts" as *;

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

html { scroll-behaviour: smooth; }

input,
textarea {
  color: var(--theme-text);
  background-color: var(--theme-background);
  width: 100%;
  padding: var(--size-2xs) var(--size-xs);
  border: 1px solid;
  border-radius: .25rem;
}


.select {
  width: 100%;
  max-width: 30ch;
  border: 1px solid #{$select-border};
  border-radius: 0.25em;
  padding: var(--size-2xs) var(--size-xs);
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--theme-background);
  display: grid;
  grid-template-areas: "select";
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #{$select-arrow};
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
  }
}

.select,
.select:after {
  grid-area: select;
}


// -----------------------------------------------------------------------------
// Globals
// -----------------------------------------------------------------------------

.section-title {
  color: var(--accent-500);
  font-size: var(--fs-200);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .125rem;
}

.title {
  margin-top: 0;
  font-family: var(--ff-accent);
}



hr {
  all: unset;
  width: 100%;
  height: 1px;
  background-color: var(--primary-500);
}



// -----------------------------------------------------------------------------
// Components
// -----------------------------------------------------------------------------

.hero {
  position: relative;
  overflow: hidden;
  background-color: var(--hero-bgcolor, var(--accent-500));
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;

  &__inner {
    padding-block: 12.12vmax;
    text-align: center;
  }

  .title {
    color: var(--theme-background);
    font-family: $font-family-accent;
    font-size: var(--fs-900);
    line-height: 1.1;
  }
}



.header-bottom-player {
  background-color: rgba(0,0,0,0.75);
  padding-block: .5rem;
  z-index: 1;
}


.about {
  .wrapper > * {
    align-items: center;
  }

  &__image {
    img {
      border-radius: $border-radius-1;
    }
  }
}


.blog {
  .postlist {
    --grid-placement: auto-fit;
    --grid-min-item-size: clamp(16rem, 33%, 20rem);
  }
}



.site-footer {
  --region-space: 3.3vmax;
  
  p {
     max-width: unset;
     text-align: center;
   }
}



// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

.region {
  padding-block: var(--region-space, 6.6vmax);
}



// -----------------------------------------------------------------------------
// Blocks
// -----------------------------------------------------------------------------

