{{ for post of posts }}
<div class="card">
  <a class="card__link" href="{{ post.data.url |> url }}" style="text-decoration: none;">
  <div class="card__image"><img src={{ post.data.image }} alt="image" /></div>
  <div class="card__content [ flow ]">
    <h3 class="[ fs-500 fw-bold ]">{{ post.data.title }}</h3>
    <p class="fs-300">Gepubliceerd op <time datetime="{{ post.data.date |> date }}">{{ post.data.date |> date('dd/MM/yyyy') }}</time></p> 
  </div>
  </a>
</div>
{{ /for }}

