<footer class="site-footer [ region ]">
  <div class="wrapper">
    <p>&copy; Copyright {{ site.title }} 2023 - All rights reserved.</p>
  </div>
</footer>

<script src="/assets/js/audioplayer.js"></script>
