* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

body, h1, h2, h3, h4,
p, figure, blockquote, dl, dd {
    margin: 0;
}

ul, ol {
    &[role="list"] {
        list-style: none;
    }
}

html {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;

    &:focus-within {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100dvh;
    text-rendering: optimizeSpeed;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    * {
        &,
        &::before,
        &::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
}