<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
<body class="{{ bodyClass }}">
    <!-- Page: Header -->
    {% include "sitenav.njk" %}

    <!-- Page: Content -->
    <main class="page flow">
        {{ content | safe }}
    </main>

    <!-- Page: Footer -->
    <footer class="footer [ region row fullwidth ]">
        <div>
            <p>&copy; copyright 2023 Radio Rosita</p>
        </div>
    </footer>

    <script src="../js/main.js" type="module"></script>
</body>
</html>