<!DOCTYPE html>
<html lang="en">
{% include "head.njk" %}
    <body class="{{ bodyClass }}">
        <!-- Page: Header -->
        {% include "sitenav.njk" %}

        <!-- Page: Content -->
        <main class="page flow">
            {{ content | safe }}
        </main>

        <!-- Page: Footer -->
        {% include "footer.njk" %}
    </body>
</html>