---
layout: layouts/base.njk
---

<section class="[ hero ] [ fullwidth ]">
    <div class="hero__content">
        <h1 class="text-center">{{ title }}</h1>
    </div>
</section>

{{- content | njk | md | safe -}}