---
layout: ./base.njk
templateEngine: njk, md
---
<section class="hero [ region fullwidth ]">
    <div class="hero__content flow">
        <h1>{{ header.title | safe }}</h1>
        {{ header.intro | md }}
    </div>
</section>
<section class="[ row fullwidth ]">
    <div>
        {% comp "Player" %}{% endcomp %}
    </div>
</section>
<section class="about [ region row fullwidth ]">
    <div class="auto-grid" data-layout="halfs">
        <div class="about__content flow">
            <h2>{{ about.title | safe }}</h2>
            {{ about.description | md }}
            <a href="/about" class="button primary">Lees meer</a>
        </div>
        <div class="about__image">
            <img src="{{ about.image | url }}" alt=""></div>
        </div>
    </div>
</section>