---
layout: layouts/base.njk
bodyClass: landing
templateEngine: [njk, md]
landing: true
front_limit: 3
---
<section class="[ hero ] [ region fullwidth ]">
    <div class="[ hero__content ] [ flow ]">
        <h1>{{ hero.title }}</h1>
        {{ hero.intro | md | safe }}
    </div>
</section>
<section class="[ wrapper ]">
    {% comp "Player" %}{% endcomp %}
</section>
<section id="about" class="[ about ] [ region ] [ wrapper ]">
    <div class="auto-grid" data-layout="halfs">
        <div class="[ about__content ] [ flow ]">
            <h2>{{ about.title | safe }}</h2>
            {{ about.intro | md | safe }}
        </div>
        <div class="about__image">
            <img src="{{ about.image | url }}" alt="" />
        </div>
    </div>
</section>
<section class="[ blog ] [ region ]" >
    
</section>