{%- for post in posts -%}
<article class="card">
    <a href="{{ post.data.url | url }}">
    <div class="card__image">
        <img src="{{ post.data.cover_image | url }}" alt=""/>
    </div>
    <div class="[ card__content ] [ flow ]">
        <h3>{{ post.data.title }}</h3>
        <div>
            <small class="pill">
                {{ date | date('MY_FORMAT') }}
            </small>
        </div>
    </div>
    </a>
</article>
{%- endfor -%}