{%- for post in posts -%}
<article class="card">
    <a href="{{ post.data.url | url }}">
    <div class="card__image">
        <img src="{{ post.data.thumbnail | url }}" alt=""/>
    </div>
    <div class="[ card__content ] [ flow ]">
        <h3>{{ post.data.title }}</h3>
    </div>
    </a>
</article>
{%- endfor -%}