{%- for post in posts -%}
<div class="card">
    <div class="card__image">
        <img class="pos-abs" src="{{ post.data.image | url }}" alt="">
    </div>
    <div class="card__content">
        <h3>{{ post.data.title }}</h3>
        {{ content }}
    </div>
</div>
{%- endfor -%}