// -----------------------------------------------------------------------------
// Auto Grid
// -----------------------------------------------------------------------------

.auto-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-placement, auto-fill), minmax(var(--min-column-size, 22rem), 1fr));
    gap: var(--grid-gutter);
}

// -----------------------------------------------------------------------------
// Auto Grid data-layouts
// -----------------------------------------------------------------------------

.auto-grid {

    &[data-layout="halfs"] {
        --grid-placement: auto-fit;
        --min-grid-item-size: clamp(16rem, 50vw, 26rem);
    }

    &[data-layout="thirds"] {
        --grid-placement: auto-fit;
        --min-grid-item-size: clamp(16rem, 33.33%, 20rem);
    }
}