// -----------------------------------------------------------------------------
// UTILITY: Wrapper
// -----------------------------------------------------------------------------

.wrapper {
    margin-inline: auto;
    width: 100%;
    max-width: var(--wrap-width, var(--width-xl));
}