.splitter {
    > :last-child {
        margin-top: var(--space-500);
    }

    @media (min-width: 48em) {
        display: flex;

        > * {
            flex-grow: 1;
        }

        > :last-child {
            margin-top: 0;
            margin-left: var(--space-xl);
            max-width: 26rem;
        }
    }
}