// -----------------------------------------------------------------------------
// UTILITY: Wrapper
// -----------------------------------------------------------------------------

.wrapper {
    max-width: var(--wrap-width, 1280px);
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--space-md);
}