---
layout: layouts/page.njk
templateEngine: njk, md
pageId: about
title: Over Radio Rosita
menu:
    visible: true
    order: 2
    title: Over Rosita
---
{% from "macros.njk" import image_2_column %}

{% include "content/about.md" %}
