---
layout: layouts/page.njk
title: Over Radio Rosita
templateEngine: [njk, md]
bodyClass: about
menu:
    visible: true
    title: Over Rosita
    order: 2
---
{% from "macros.njk" import image_2_column %}

<section class="[ hero ] [ fullwidth ]">
    <div class="hero__content flow">
        <h1 class="text-center">{{ title }}</h1>
    </div>
</section>

{% include "./content/pages/about.md" %}
