---
layout: layouts/hero.njk
title: Radio Rosita Blog
description: Blijf up to date met de laatste posts.
bodyClass: blog
menu:
    visible: true
    order: 3
    title: Blog
sort_by: date
---

<section class="wrapper region">
    <div class="auto-grid" data-layout="thirds">
        {% set posts = search.pages("type=post", sort_by + "=desc", "6") %}
        {%- include "templates/postsList.njk" -%}
    </div>
</section>