// -----------------------------------------------------------------------------
// MBMCSS
// -----------------------------------------------------------------------------
@use "_scss/config" as *;
@use "_scss/mbmcss/mixins/index" as mixin;

// Vars
$settings: $mbm-config;
$css-vars: map-get($settings, "css-vars");

// Design tokens
@include mixin.generate-css-vars($css-vars);

// Utility classes
@include mixin.generate-utility-classes($settings);


// -----------------------------------------------------------------------------
// RESET
// -----------------------------------------------------------------------------

@import "_scss/reset";



// -----------------------------------------------------------------------------
// GLOBAL
// -----------------------------------------------------------------------------

html {
    color-scheme: light dark;
}



body {
    background-color: var(--clr-surface);
    color: var(--clr-text);
    font-family: var(--ff-base);
    font-size: var(--fs-300);
    line-height: 1.6;
}



// -----------------------------------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------------------------------

h1,
h2,
h3,
h4 {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1.1;
    text-wrap: balance;
}

h1 {
    font-size: var(--fs-700);
    --flow-space: 2em;
}

h2 {
    font-size: var(--fs-600);
    --flow-space: 1.75em;
}

h3 {
    font-size: var(--fs-500);
    --flow-space: 1.5em;
}



// p,
// li,
// blockquote:not([class]) {
//     max-width: var(--wrap-width, 65ch);
// }





// -----------------------------------------------------------------------------
// COMPOSITIONS
// -----------------------------------------------------------------------------

@import "_scss/compositions/index";


.page {
    display: grid;
    grid-template-columns: var(--grid-page);

    &>* {
        grid-column: var(--grid-page-main);
    }

    &>.fullwidth {
        grid-column: 1 / -1;
    }
}

.wrapped-content,
article.post {
    &>* {
        max-width: 54rem;
        margin-left: auto;
        margin-right: auto;
        padding-inline: 1rem;

        &.fullwidth,
        &.bleed {
            max-width: unset;
            width: 100%;
            padding-inline: 0;
        }
    }
}





// -----------------------------------------------------------------------------
// UTILITIES
// -----------------------------------------------------------------------------

@import "_scss/utilities/index";





// -----------------------------------------------------------------------------
// BLOCKS
// -----------------------------------------------------------------------------

@import "_scss/blocks/index";

.hero {
    background: var(--clr-primary) url("/img/hero-img.webp") no-repeat center center;
    background-size: cover;
    background-blend-mode: overlay;

    &__content {
        max-width: 77.5em;
        margin-inline: auto;
        padding: clamp(2em, 10dvw, 5em) clamp(3em, 10dvw, 11em);
        color: var(--clr-secondary);

        h1 {
            font-size: var(--fs-800);
        }
    }
}



.about {
    .auto-grid {
        align-items: center;
        gap: var(--space-xl);
    }

    &__image {
        img {
            border-radius: 1em;
        }
    }
}


.post-title {
    --region-space: 3.3vmax;
}