---
layout: layouts/base.vto
---
<section class="[ about ] [ region ]">
  <div class="wrapper">
    <div class="[ grid ]" data-layout="halfs">
      <div class="about__image">
        <img class="" src="{{ about.image }}" />
      </div>
      <div class="about__content [ flow ]">
        <span class="section-title">Over ons</span>
        <h2 class="title [ fs-700 fw-bold ]">{{ about.title }}</h2>
        <p>{{ about.body }}</p>
      </div>
    </div>
  </div>
</section>
